recursive-include csrc *.cu
recursive-include csrc *.h
recursive-include csrc *.cuh
recursive-include csrc *.cpp
recursive-include csrc *.hpp

recursive-include flash_exp *.cu
recursive-include flash_exp *.h
recursive-include flash_exp *.cuh
recursive-include flash_exp *.cpp
recursive-include flash_exp *.hpp
